@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Myanmar Khyay';
  src: url('/fonts/MyanmarKhyay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
